/*     General Styles     */

span {
    color: #628DCB;
    font-weight: 700;
}

.logo_img {
    max-width: 200px;
    height: auto;
}
.navbar {
    top: 30px;
    color: #628DCB;
}
.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
    color: black;
	line-height: 0.875rem;
}

.nav-link:hover {
	font-weight: 500;
	font-size: 1.3rem;
    color: #628DCB;
	line-height: 0.875rem;
}

.nav-food {
    width: 100%;
    margin-top: 10px; 
}

.nav-food ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap; 
      list-style-type: none;
}

.nav-food ul li {
        width: calc(100% - 20px);
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 7px; 
}
.nav-food ul li:nth-child(1) {
          background-color: #ff8000; 
}

.nav-food ul li:nth-child(1) a {
            color: #F7F7F7 
}

.nav-food ul li:nth-child(2) {
          background-color: #0099bc; 
}

.nav-food ul li:nth-child(2) a {
            color: #F7F7F7 
}

.nav-food ul li:nth-child(3) {
          background-color: #bf0077; 
}

.nav-food ul li:nth-child(3) a {
  
    color: #F7F7F7 
}
.nav-food ul li:nth-child(4) {
          background-color: #ff4d00; 
}

.nav-food ul li:nth-child(4) a {
            color: #F7F7F7 
}

.nav-food ul li:nth-child(5) {
          background-color: #5100ff; 
}

.nav-food ul li:nth-child(5) a {
            color: #F7F7F7 
}

.nav-food ul li:nth-child(6) {
          background-color: #498205;
}

.nav-food ul li:nth-child(6) a {
            color: #F7F7F7 
}

.nav-food ul li:nth-child(7) {
          background-color: #c9c7c7; }
.nav-food ul li:nth-child(7) a {
            color: #3e3c3c; 
}

.nav-food ul li:nth-child(8) {
          background-color: #afcfff; 
}

.nav-food ul li:nth-child(8) a {
            color: #070486; 
}

.nav-food ul li:nth-child(9) {
          background-color: #ffd283; 
}
.nav-food ul li:nth-child(9) a {
            color: #754a00; 
}

.nav-food ul li:nth-child(10) {
          background-color: #e9dbff; 
}
.nav-food ul li:nth-child(10) a {
            color: #32007d; 
}

.nav-food ul li a {
          display: flex;
          align-items: center;
          justify-content: space-between; 
}
.nav-food ul li img {
          display: block;
          max-width: 60px; 
}
.nav-food ul li span {
          font-size: 1.5rem;
          font-weight: 400;
          color: white; 
}
.nav-food ul li span b {
            display: block;
            font-size: .6rem;
            font-weight: 400; 
}
.nav-food ul li strong {
          font-size: .6rem;
          background-color: #01ddac;
          padding: 2px 5px;
          margin-left: 4px;
          border-radius: 100%; 
}


 
.btn_css_dark {
    
    margin-right: 20px;
    color: white;
    font-weight: 500;
	font-size: 100%;
	box-shadow: none;
	border-radius: 5px;
	padding: 8px 30px;
    
}

.btn_css_dark:hover {
	font-weight: 500;
	font-size: 1.8rem;
	color: black;
	border-radius: 5px;
	border-width: 2px;
	padding: 8px 30px;
	background-image: none;
	background: transparent;
}

.btn_css {
    font-weight: 500;
	font-size: 1.0rem;
	color: black;
	border-radius: 5px;
	border-width: 2px;
	padding: 8px 30px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;

    
}

.btn_css:hover {
	color: white;
    font-weight: 500;
	font-size: 200%;
	box-shadow: none;
	border-radius: 5px;
	padding: 8px 30px;
}

.card_nav {
    margin-top: 40px;
    max-width: auto;
    height: 60px;
    background-color: #628DCB;
    text-align: center;
}

.card_foot {
    max-width: auto;
    height: 85px;
    background-color: #628DCB;
    text-align: center;
}

.text {
    padding-top:15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}


.text2 {
    padding-top:10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}


.home_header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
}

.home_img {
    max-width: 704px;
    max-height: auto;
    padding: 50px;
}

.home_text {
    font-size: 1.5rem;
}

 #mock-test-questions {
        max-height: 40vh;
        overflow-y: auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        visibility: visible; /* Always visible */
 }

 .Course{
    margin:5px;
 }

 .btn-primary {
    margin-right: 10px;
}

.logout-btn {
    margin-top: 20px;
}

.image-preview {
    max-width: 200px;
    margin-top: 20px;
}



/* --------------- 1000px Screens --------------- */

@media (max-width: 1000px) {

    .text {
        padding-top:15px;
        font-size: 1.1rem;
        font-weight: 500;
        color: white;
    }

    .home_img {
        max-width: 604px;
        max-height: auto;
        padding: 50px;
    }
    .home_header {
        margin-bottom: 25px;
        font-size: 2.5rem;
    }
}
  
  /* --------------- 768px Screens --------------- */
  
  @media (max-width: 768px) {
  
    .text {
        padding-top:15px;
        font-size: 1rem;
        font-weight: 450;
        color: white;
    }

    .home_img {
        max-width: 550px;
        max-height: auto;
        padding: 50px;
    }
    .home_header {
        margin-bottom: 25px;
        font-size: 2.1rem;
    }
}
  
  /* --------------- 500px Screens --------------- */
  
  @media (max-width: 500px) {
  
    .text {
        padding-top:15px;
        font-size: .9rem;
        font-weight: 400;
        color: white;
    }
    .home_img {
        max-width: 510px;
        max-height: auto;
        padding: 50px;
    }

    
.home_header {
    margin-bottom: 25px;
    font-size: 2.1rem;
}

  }